.about_banner {
    background-color: #33BDC7;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
   
    align-items: center;

}

.about_banner .lazy-logo {
    background-color: white;
    border-radius: 13px;
    display: flex;

    align-items: center;
    padding: 10px;

}
.about_heading
{
    width: 50%;
}
.about_heading h1{
    color: white;
    text-align: center;
}
.about_banner .lazy-logo img {
    width: 80px;
    height: 80px;
}
.about_p{
    width: 50%;

}
.about_p p{
    text-align: center;
    line-height: 25px;
    color: white;
}

.about_us_detils{
    /* padding: 20px 0px 20px 0px; */
 width: 100%;
 background-color: white;
 height: 500px;
 display: flex;
}
.about_photo{
    width: 50%;
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    
}
.about_photo img{
    width: 400px;
    height: 400px;
}
.about-content{
    margin-top: 50px;
    width: 50%;
    padding-right: 80px;
     
}
.about-content p{
    margin-top: 20px;
    color: black;
    font-weight: 400;

}