@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anek+Latin:wght@200&family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Inter&family=Lato:ital,wght@0,700;1,100;1,300&family=Poppins:wght@500&family=Roboto+Slab&family=Roboto:wght@500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

body{
  text-decoration: none !important;
  list-style: none !important;
}
.navbar {
    position: fixed;
  display: flex;
  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: #bab5b500 !important;
  height: auto;

}

.navbar-expand-lg .navbar-nav {
  display: flex;
  width: 1000%;
}

html {
  font-size: 95%;
  font-weight: 800;
}



.navbar .navbar-brand .knoc {
  width: 11rem;
  height: auto;

}

.navbar .nav-item {
  padding: 10px 10px;
  z-index: 9999;
}

.navbar .nav-link {
  font-size: 0.625rem;
  margin-left: 0.625rem;
}

.fas {
  color: black;
}

.fa-bars {

  font-size: 1.875rem;
  color: black;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  z-index: 999;
}


.btn {
  font-weight: 900;
  color: white !important;
}

.dropdown>.dropdown-toggle:active {

  pointer-events: none;
}

.koc_cat {
  width: 40px;
  height: 40px;
  z-index: 999;
}
.w-100{
  height: 800px;
}
 
 
 

.navbar-expand-lg .navbar-nav {
  display: flex;
  width: 1000%;
}

html {
  font-size: 95%;
  font-weight: 800;
}



.navbar .navbar-brand .knoc {
  width: 11rem;
  height: auto;

}

.navbar .nav-item {
  padding: 10px 10px;
  z-index: 9999;
}

.navbar .nav-link {
  font-size: 0.625rem;
  margin-left: 0.625rem;
}

.fas {
  color: black;
}

.fa-bars {

  font-size: 1.875rem;
  color: black;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  z-index: 999;
}


.btn {
  font-weight: 900;
  color: #3B403F;
}

.dropdown>.dropdown-toggle:active {

  pointer-events: none;
}

.koc_cat {
  width: 40px;
  height: 40px;
}
.w-100{
  height: 800px;
}
.carousel{
background-color: red;
border: 1px solid red;

}
 
@media only screen and (max-width: 600px) {
  html {
    font-size: 60.1%;
  }

  .btn {
    font-size: 1rem;
  }

  .navbar .navbar-brand .knoc {
    width: 10rem;
    height: auto;
  }
}
@media only screen and (max-width: 1320px){

.navbar .nav-item{
  padding: 0px;
}
}
@media only screen and (max-width:1200px) {
   
  html {
    font-size: 80.1%;
  }
  


}


@media only screen and (max-width: 600px) {
  html {
    font-size: 60.1%;
  }

  .btn {
    font-size: 1rem;
  }

  .navbar .navbar-brand .knoc {
    width: 10rem;
    height: auto;
  }
}

@media only screen and (max-width:1200px) {
  .navbar .navbar-brand .knoc {
    width: 7rem;
    height: auto;
  }

  html {
    font-size: 80.1%;
  }
  .navbar .nav-item {

padding: 0px;
}


}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
   margin-top: -71px;
  width: 100%;
  height: 900px;
  background-color: red;
   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("Banner\ 23.png");

}
.banner .sentence{
  padding: 20px  0px 20px 0px;
  text-align: center;
  color: white;
  font-size: 3.125rem;
  font-weight:600;

}
.banner p{
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.563rem;
  background:none;
}
.banner .btn {
  color: #F9A64A !important;
  margin-top: 20px;
  height: 2.5rem;
  width: 9.375rem;
  border: 2px solid #F9A64A;
   
}
.banner .btn:hover{
  color: white !important;
  height: 40px;
  width: 130px;
  background-color: #F9A64A;
  transition: 0.5s;
  border: 1px solid #F9A64A;
}
/*-------------card------------  */
 
 

.sec-icon::before {
  content: "";
  
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  
  width: 50px;
}

.sec-icon::after {
  content: "";
  
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}

.advertisers-service-sec {
  background-color: #f5f5f5;
}

.advertisers-service-sec span {
  color: rgb(255, 23, 131);
}

.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.advertisers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
}

.advertisers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#F9A64A, rgb(248,58,71));
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
  z-index: 3;
}

.advertisers-service-sec p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

/* .advertisers-service-sec .icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
} */

.advertisers-service-sec .service-card:hover:after {
  top: 0%;
}

 

.advertisers-service-sec .service-card:hover .icon-wrapper {
  color: #0dcaf0;
}

.advertisers-service-sec .service-card:hover h3 {
  color: #ffffff;
}

.advertisers-service-sec .service-card:hover p {
  color: #f0f0f0;
}




.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;}

#feature-text {
  margin-left: 8px;
}
.input-cursor {
  display: inline-block;
  width: 2px;
  
  background-color: white;
  margin-left: 8px;
  animation: blink .6s linear infinite alternate;
}


@keyframes blink {
0% {opacity: 1;}
40% {opacity: 1;}
60% {opacity: 0;}
100% {opacity: 0;}
}

 
.app-one{
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
}
.app-one p{
  text-align: center;
  padding: 10px 100px 10px 100px;
}
 .mobile_app{
  width: 100%;
  
  padding: 50px 0px 50px 0px;
  display: flex;
 justify-content: space-around;
 }

 .app-one .s_1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 20px 0px;
  width: 150px;
  height: 150px;
background-size:80%;
background-repeat: no-repeat;
background-position: center;
  background-image: url("https://knocknoc.sg/img/paw.png");
 }
 .app-one .s_1 h1{
  color: white;
 }
 .app-one img{
  border: 7px groove black;
  border-radius: 17px;
  padding: 5px;
  width: min(100% , 300px);
  max-height: 600px;
 }
 .list-unstyled li{
  font-weight: 400;
 }
 .list-unstyled li a{
  text-decoration: none;
  font-weight: 600;
  
 }
 .text-white{
  font-weight: 400;
 }